*{
  margin: 0;
  padding: 0;
  color: #f2f5f7;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}
body{
  overflow-x: hidden;
}
.navbar{
  z-index:100;
  display:flex;
  position:fixed;
  background-color:rgb(2, 44, 67);
  justify-content:center;
  align-items:center;
}
.navbar >img{
  height:106px;
  width:100%;
}
/*Styling logo*/
.logo{
  padding:1vh 1vw;
  text-align: center;
}
.logo img {
  height: 5rem;
  width: 5rem;
}

/*Styling Links*/
.navlinks{
  display: flex;
  list-style: none; 
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}
.navlinks li a{
  text-decoration: none;
  margin: 0 0.7vw;
}
.navlinks li a:hover {
  color: #61DAFB;
}
.navlinks li {
  position: relative;
}
.navlinks li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #61DAFB;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}
.navlinks li a:hover::before{
  width: 80%;
}

/*Styling Buttons*/
.loginbutton{
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  margin-left: 2vw;
  font-size: 1rem;
  cursor: pointer;

}
.loginbutton:hover {
  color: #131418;
  background-color: #f2f5f7;
  border:1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}


/*Styling Hamburger Icon*/
.hamburger div{
  width: 30px;
  height:3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}

.ab{
  display: none;
}
/*Stying for small screens*/
@media screen and (max-width: 800px){
  nav{
      position: fixed;
      z-index: 3;
  }
  .navbar{
    display:flex;
    flex-direction:column;
  }
.ab{
  display:flex;
  align-items:center;
  margin-left:-10rem;
}
  .hamburger{
      display:block;
       position: absolute; 
      cursor: pointer;
       right: 15%;
      margin-top:25px;
      transform: translate(-5%, -50%);
      z-index: 2;
      transition: all 0.7s ease;
  }
  .navlinks{
      position: fixed;
      background: #131418;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(50px at 90% -20%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
  }
}